---
layout: default
disqus: true
archive: false
post_class: post-template
---

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        <a class="back-button icon-arrow-left" href="{{ site.baseurl }}/">Home</a>
        <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed/index.xml">Subscribe</a>
    </nav>
</header>

<main class="content" role="main">

    <article class="post">

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <section class="post-meta">                
                {% if page.date %}
                <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
                {% endif %}
                {% if page.categories.size > 0 %} 
                    {{ page.categories | array_to_sentence_string | prepend: 'on ' }} 
                {% endif %}
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        {% if page.archive %}
        <section class="archive">
            <h5>Archive</h5>
            <ul>
                {% for post in site.posts %}
                <li>
                {% if post.date %}
                <span>{{ post.date | date_to_string }}</span>  
                {% endif %}
                <a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}    
            </ul>
        </section>
        {% endif %}

        <footer class="post-footer">
            <!-- If we want to display author's name and bio -->
            {% if site.author %}
                <figure class="author-image">
                    <a class="img" href="{{ site.baseurl }}" style="background-image: url(/assets/images/profile.png)">
                    <span class="hidden">{{site.author}}'s Picture</span></a>
                </figure>
                <section class="author">
                    <!-- Author Name -->
                    <h4> {{ site.author }} </h4>
                    <!-- Author Bio -->
                    <p>谦逊随和的90后优秀男青年。</p>

                    <p>家养一头小母鹅 名唤作沈煎饼 
                    爱咬主人 主人手臂常年挂着一排牙齿印</p>

                    <p>游走于幻想与现实
                    白日梦肥而不腻 现实膘肉垂垂</p>

                    <p>喜欢: 家鹅, 写代码, 看书, 做菜 [有先后顺序]</p>
                    <p>恐惧: 停止学习. 不成长, 毋宁死. 不自由</p>
                    <p>讨厌: 烟, 烟味浓的厕所, 雾霾, 甲醛, 酒, 百度, 墙[没有先后顺序]</p>

                    <p>座右铭: 过自己想过的生活</p>
                </section>                
            {% endif %}


            <!-- Share links section -->
            {% include share.html %}

            <!-- Share links section -->
            {% include amazon_cn_ad.html %}

            <!-- Disqus comments -->
            {% include disqus.html %}

        </footer>

    </article>

</main>
